name: Build Android Mod

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r25b

    - name: Build with NDK-Build
      run: |
        # This command uses the Android.mk file found in your root folder
        ndk-build NDK_PROJECT_PATH=. APP_BUILD_SCRIPT=./Android.mk APP_PLATFORM=android-21

    - name: Upload Mod File
      uses: actions/upload-artifact@v4
      with:
        name: LegIK.so
        path: libs/**/*.so # NDK-Build puts files in 'libs', not 'build'
